.hero {
    background: url("/assets/images/hero.svg") no-repeat;
    background-size: cover;
}

section {
    padding: 6rem 0;
}

.sect-generators {
    @include gradient-x($start-color: #6747C0, $end-color: #8D67F8, $start-percent: 0%, $end-percent: 100%);
}

.bg {
    position: absolute;
}

.sect-about {
    position: relative;

    .bg-1 {
        top: 42%;
        right: 29px;
    }

    .bg-2 {
        left: -150px;
        top: 36%;
    }
}

.sect-generators {
    position: relative;

    .g-bg-1 {
        top: 20%;
        right: 87%;
    }

    .g-bg-2 {
        top: 60%;
        left: 4%;
    }

    .g-bg-3 {
        top: 10%;
        right: 3%;
    }

    .g-bg-4 {
        bottom: 10%;
        right: 11%;
    }
}

.sect-preview {
    position: relative;

    .p-bg-1 {
        top: 20%;
        left: 15%;
    }

    .p-bg-2 {
        top: 60%;
        right: 17%;
    }
}