body, html, .wrapper {
    min-height: 100vh;
}

a {
    color: $body-color;
}

.blog-container {
    a {
        color: $primary;
    }
}

.wrapper {
    position: relative;
    padding-bottom: 2rem;
}

.sect-about {
    ul {
        padding-left: 0;

        li {
            list-style: none;

            &:before {
                content: "\2022";
                color: $primary;
                padding-right: $spacer;
            }
        }
    }
}