/* Wizard */
.add-z {
    z-index: 2;
    position: relative;
}

.bg-form {
    background: red;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: -1;
    background: rgba(#53C7FF, 0.05);
}

.bg-form-2 {
    background: blue;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -2;
    background: rgba(#0B4FF3, 0.05);
}

#wlg_back {
    @include button-variant($white, transparent);

    flex-grow: 1;

    &:hover,
    &:focus,
    &:active {
        background: transparent;
        border-color: transparent;
    }

    &:disabled {
        display: none;
    }
}

#wlg_next {
    @include button-variant($primary, $primary);

    flex-grow: 2;

    &:disabled {
        display: none;
    }
}

#wlg_submit {
    flex-grow: 2;
}

.wizard {
    overflow:hidden;
    background: $white;
    border-radius: $border-radius;
    border:1px solid $border-color;
    // box-shadow: $box-shadow;

    .btn {
        &.btn-default {
            background-color: $primary;
            color: $white;
        }
    }

    .no-script {
        padding: 20px;
        font-weight: $font-weight-bold;
        text-align: center;
    }

    .wizard-steps-title {
        background: $wizard-header-title-bg;
        border-bottom: 1px solid $border-color;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        padding: $card-spacer-x;

        ul {
            list-style: none;
            margin: 0;
            

            li {
                display: inline-block;
                color: $wizard-step-color;
                margin-right: $spacer;
                &:last-child {
                    margin-right:0;
               
                }

                &.active {
                    color: $secondary-color;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }

    .wizard-steps-body {
        padding: $card-spacer-x;

        h3 {
            font-size: $font-size-base;
            color: $headings-color;
        }

        .form-group {
            margin: 0;
        }

        .wlg-form-group {
            margin-top: $spacer * 2;
        }

        .wlg-form-control-radio {
            label {
                font-weight: $font-weight-normal;
                color:$headings-color;
            }
        }

        & .active {
            .wlg-form-group:first-child {
                margin-top: 0;
            }
        }

        .lcghl-form-control-radio {
            margin-top: 0;

            input {
                margin-right: 8px;
            }
        }

        p {
            margin: 0;
        }

        small {
            font-size: 14px;
            color: $text-muted;
        }

        input.form-control {}

        select.form-control {
            height: 48px;
        }

        .radio {
            label {}
        }

        input.error {
            border: 1px solid $red;
        }

        label.error {
            background: $red;
            border-radius: 2px;
            padding: 2px 4px;
            color: $white;
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
            margin: 0 0 2px 0;
        }

        h3[for|=state] {
            margin-top: 20px;
        }

        .i-checks {
            padding-left: 20px;
            cursor: pointer;
        }

        .i-checks input {
            opacity: 0;
            position: absolute;
            margin-left: -20px;
        }

        .i-checks input:checked + i {
            border-color: $primary;
        }

        .i-checks input:checked + i:before {
            left: 4px;
            top: 4px;
            width: 9px;
            height: 9px;
            background-color: $primary;
        }

        .i-checks input:checked + span .active {
            display: inherit;
        }

        .i-checks input[type="radio"] + i, .i-checks input[type="radio"] + i:before {
            border-radius: 50%;
        }

        .i-checks input[disabled] + i, fieldset[disabled] .i-checks input + i {
            border-color: $custom-radio-checkbox-border-disabled;
        }

        .i-checks input[disabled] + i:before, fieldset[disabled] .i-checks input + i:before {
            background-color: $custom-radio-checkbox-border-disabled;
        }

        .i-checks > i {
            width: 20px;
            height: 20px;
            line-height: 1;
            border: 1px solid $border-color;
            background-color: $white;
            margin-left: -20px;
            margin-top: -4px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
            position: relative;
        }

        .i-checks > i:before {
            content: "";
            position: absolute;
            left: 10px;
            top: 10px;
            width: 0px;
            height: 0px;
            background-color: transparent;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
        }

        .i-checks > span {
            margin-left: -20px;
        }

        .i-checks > span .active {
            display: none;
        }
    }

    .wizard-steps-navigation {
        display: flex;
        padding: $card-spacer-y $card-spacer-x;
        justify-content: space-around;

        button {
            &#lcghl_next, &#lcghl_submit {
                background: $primary;
                font-size: 16px;
                color: $white;
                text-transform: uppercase;
                font-weight: $font-weight-bold;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            &#lcghl_back {
                color: $jet;

                &:hover {
                    background: $go-back-button-hover;
                }
            }

            &:disabled:hover {
                cursor: not-allowed;
                background: transparent !important;
            }
        }
    }

    .validation-error {}

    .error-message {
        color: $danger;
        font-weight: bold;
    }
}