.notifyjs-bootstrap-branded {
	background: lighten($primary, 45%) !important;
	background:$white !important;
	
	color:$primary !important;
	box-shadow: $box-shadow-sm;
}

.notifyjs-corner {
	max-width: 100%;
}

[data-notify-text] {
	white-space: normal;
}