

section {
    padding: 6rem 0;
}

.sect-preview {
    position: relative;
    a {
        color:$body-color;
    }
}

.preview {
    h1, h2, h3, h4, h5, h6 {
        margin-top: $preview-heading-margin;
    }

    .highlight {
        padding: $preview-padding;
        background: $preview-bg;
        color: d $preview-color;
    }
}

.download-container {
    a {
        color:$body-color;
    }
}

.sect-live {
    @extend .preview;
}

.blog-container {
    @extend .preview;

    h1:first-child {
        margin-top: 0;
    }

    img {
        margin-bottom: 2rem;
    }
}